//BCSSP Variables
$font-path: '~styleguide/lib/modern/assets/fonts/';
$clear-icon-path: '~styleguide/lib/modern/assets/images/clear_x.svg';
$inline-error-icon-path: '~styleguide/lib/modern/assets/images/error-inline-16x16.svg';
$loading-icon-path: '~styleguide/lib/modern/assets/images/loading-icon.svg';
$kp-logo-path: "~styleguide/lib/modern/assets/images/logo.svg";
$hr-color:  color("graphite");

//Footer Variables
$social-font-size:24px;
$tiny-icon-font-size:10px;
$graphite-dark: color('graphite-dark');

//Landing Page Variables
$graphite-light: color('graphite-light');