
// DS2 - new
$yml-full-width-image-height-mobile: 33.33vw; //  278h / 834w
$yml-full-width-image-height-tablet: 33.33vw; //  278h / 834w
$yml-full-width-image-height-desktop: 36.98vw; //  636h / 1720w