
// _variables.scss

@import 'spacing-mixin';

$xx-small-spacing: 5px;
$extra-tiny-spacing: 10px;
$tiny-spacing: 15px;
$small-spacing: 20px;
$medium-spacing: 30px;
$large-spacing: 40px;
$xl-spacing: 60px;
$xxl-spacing: 90px;
$gutter-spacing: $medium-spacing;
$paragraph-spacing: $small-spacing;